<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8' />
		<title>vue-manage</title>
		<link href='./static/css/app.65457ec64abe6b9c31c2ad975670efed.css' rel='stylesheet' />
	</head>

	<body>
		<div id='app'></div>
		<script>
			document.onclick = function() {
				var usermenu = document.getElementById("usermenu")
				usermenu.style.display = "none"
			}
		</script>
		<script type='text/javascript' src='./static/js/manifest.fd56fb20e2cf688f4673.js'></script>
		<script type='text/javascript' src='./static/js/vendor.18f203ac07c0ae747f1b.js'></script>
		<script type='text/javascript' src='./static/js/app.a57813a0b26341a0f876.js'></script>
		<script type='text/javascript' src="./static/js/0.b5a745abb38a2d9040b5.js"></script>
		<script type='text/javascript' src="./static/js/1.6f0ddbbbd41ea8c8bdd4.js"></script>
		<script type='text/javascript' src="./static/js/2.2480255efb46feb05d6f.js"></script>
		<script type='text/javascript' src="./static/js/3.54a26edc05ced8f25f43.js"></script>
		<script type='text/javascript' src="./static/js/4.6e21915de310ea40e594.js"></script>
		<script type='text/javascript' src="./static/js/5.78cde5622d717c72643a.js"></script>
	</body>

</html>