<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>vue-manage</title>
		<link href="./vue/home/css/app.65457ec64abe6b9c31c2ad975670efed.css" rel="stylesheet" />
	</head>

	<body>
		<div id="app"></div>
		<script>
			document.onclick = function() {
				var usermenu = document.getElementById("usermenu")
				usermenu.style.display = "none"
			}
		</script>
		<script type="text/javascript" src="./vue/home/js/manifest.478176ca3e75b95d92fe.js" ></script>
		<script type="text/javascript" src="./vue/home/js/vendor.e87fe19a4eb33e973969.js" ></script>
		<script type="text/javascript" src="./vue/home/js/app.b5a9e5280fce315b5b61.js" ></script>
		<script type="text/javascript" src="./vue/home/js/1.3bd1906335ebae8b1234.js" ></script>
		<script type="text/javascript" src="./vue/home/js/0.1f06c39a3a750dad552f.js" ></script>
	</body>

</html>